<%= form_tag('.', :id => @form_id, :class => 'save_form ui-widget-content ui-widget ui-corner-all') do %>
  <table>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :code, t('employee.field.code'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :code, @employee.code, :id => 'id_code', :class => 'text', :placeholder => t('employee.placeholder.code') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :icno, t('employee.field.icno'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :icno, @employee.icno, :id => 'id_icno', :class => 'text', :placeholder => t('employee.placeholder.icno') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :firstname, t('employee.field.firstname'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :firstname, @employee.firstname, :id => 'id_firstname', :class => 'text', :placeholder => t('employee.placeholder.firstname') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :middlename, t('employee.field.middlename'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :middlename, @employee.middlename, :id => 'id_middlename', :class => 'text', :placeholder => t('employee.placeholder.middlename') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :lastname, t('employee.field.lastname'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :lastname, @employee.lastname, :id => 'id_lastname', :class => 'text', :placeholder => t('employee.placeholder.lastname') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :designation_id, t('employee.field.designation'), :class => 'label' %>
      </td>
      <td>
        <%= select_tag :designation_id, options_from_collection_for_select(@designation_list, 'id', 'title', @employee.designation_id), :id => 'id_designation', :class => 'select' %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :epfno, t('employee.field.epf'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :epfno, @employee.epfno, :id => 'id_epfno', :class => 'text', :placeholder => t('employee.placeholder.epf') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :socso, t('employee.field.socso'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :socso, @employee.socso, :id => 'id_socso', :class => 'text', :placeholder => t('employee.placeholder.socso') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :salary, t('employee.field.salary'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :salary, @employee.salary, :id => 'id_salary', :class => 'text', :placeholder => t('employee.placeholder.salary') %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="ui-widget-header ui-widget"><%= t('address.title') %></div>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :street, t('address.field.street'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :street, @employee.street, :id => 'id_street', :class => 'text', :placeholder => t('address.placeholder.street') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :city, t('address.field.city'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :city, @employee.city, :id => 'id_city', :class => 'text', :placeholder => t('address.placeholder.city') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :state, t('address.field.state'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :state, @employee.state, :id => 'id_state', :class => 'text', :placeholder => t('address.placeholder.state') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :postalcode, t('address.field.postalcode'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :postalcode, @employee.postalcode, :id => 'id_postalcode', :class => 'text', :placeholder => t('address.placeholder.postalcode') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :country, t('address.field.country'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :country, @employee.country, :id => 'id_country', :class => 'text', :placeholder => t('address.placeholder.country') %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div class="row_button">
          <%= render 'home/save_button' %>
          <%= render 'home/cancel_button' %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
