<% if @data.present? && @data[:list].any? %>
  <table class="list_table">
    <thead class="ui-widget-header">
      <tr>
        <th class="data chkbox"><input class="hdchk" type="checkbox" /></th>
        <th class="data">
          <div id="hd_code" class="sortheader hover">
            <span class="colheader"><%= t('employee.field.code') %></span>
            <span class="sorticon"></span>
          </div>
        </th>
        <th class="data">
          <div id="hd_firstname" class="sortheader hover">
            <span class="colheader"><%= t('employee.field.firstname') %></span>
            <span class="sorticon"></span>
          </div>
        </th>
        <th class="data">
          <div id="hd_middlename" class="sortheader hover">
            <span class="colheader"><%= t('employee.field.middlename') %></span>
            <span class="sorticon"></span>
          </div>
        </th>
        <th class="data">
          <div id="hd_lastname" class="sortheader hover">
            <span class="colheader"><%= t('employee.field.lastname') %></span>
            <span class="sorticon"></span>
          </div>
        </th>
        <th class="data">
          <div id="hd_icno" class="sortheader hover">
            <span class="colheader"><%= t('employee.field.icno') %></span>
            <span class="sorticon"></span>
          </div>
        </th>
        <th class="data">
          <div id="hd_d-title" class="sortheader hover">
            <span class="colheader"><%= t('employee.field.designation') %></span>
            <span class="sorticon"></span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
    <% @data[:list].each do |o| %>
      <tr id="tr_<%= o.id %>" class="<%= cycle("ui-state-active", "ui-state-default") %>">
        <td class="data chkbox"><input class="chk" type="checkbox" /></td>
        <td class="data"><%= o.code %></td>
        <td class="data"><%= o.firstname %></td>
        <td class="data"><%= o.middlename %></td>
        <td class="data"><%= o.lastname %></td>
        <td class="data"><%= o.icno %></td>
        <td class="data"><%= o.designation.title if o.designation.present? %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<input id="id_pg" type="hidden" value="<%= @data[:hasprev] %>,<%= @data[:hasnext] %>,<%= @data[:prevpage] %>,<%= @data[:nextpage] %>,<%= @data[:item_msg] %>,<%= @data[:sortcolumn] %>,<%= @data[:sortdir] %>" />
