<table>
  <tr>
    <td>
      <%= label_tag :id_year, 'Year', :class => 'label' %>
    </td>
    <td class="colspacing">
      <%= select_year(Date.today, { :start_year => Time.now.year, :end_year => end_year }, { :id => 'id_year', :class => 'select' }) %>
    </td>
    <td>
      <%= label_tag :id_month, 'Month', :class => 'label' %>
    </td>
    <td class="colspacing">
      <%= select_month(Date.today, { }, { :id => 'id_month', :class => 'select' }) %>
    </td>
  </tr>
</table>
<br />
<%= render 'shared/gen_button' %>
