<!DOCTYPE html>
<html>
<head>
  <title><%= t('payroll.report') %></title>
  <%= favicon_link_tag    "favicon.ico", :rel => "shortcut icon" %>
  <%= favicon_link_tag    "favicon.ico", :rel => "icon", :type => "image/x-icon" %>
  <%= stylesheet_link_tag    "_payslip", :media => "all" %>
  <%= javascript_include_tag "_payslip" %>
  <%= csrf_meta_tags %>
</head>
<body class="ui-widget-content">
  <table class="heading">
    <tr>
      <td valign="top"><span class="boldtext"><%= t('payslip.name') %></span> : <%= @employee.firstname %> <%= @employee.middlename %> <%= @employee.lastname %></td>
      <td align="right">
        <table>
          <tr>
            <td align="left"><span class="boldtext"><%= t('payslip.period') %></span></td>
            <td> : <%= @period %></td>
          </tr>
          <tr>
            <td align="left"><span class="boldtext"><%= t('payslip.code') %></span></td>
            <td> : <%= @employee.code %></td>
          </tr>
          <tr>
            <td align="left"><span class="boldtext"><%= t('payslip.icno') %></span></td>
            <td> : <%= @employee.icno %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table class="data_table">
    <thead>
      <tr>
        <th>--- <%= t('payslip.earnings') %> ---</th>
        <th class="amt"><span>--- RM ---</span></th>
        <th>--- <%= t('payslip.deductions') %> ---</th>
        <th class="amt"><span>--- RM ---</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="det boldtext"><%= t('payslip.basicpay') %></span></td>
        <td class="amt"><span><%= number_to_currency @employee.salary, :unit => '' %></span></td>
        <td><span class="det boldtext"><%= t('payslip.epf') %></span></td>
        <td class="amt"><span><%= number_to_currency @setting.epf, :unit => '' %></span></td>
      </tr>
      <tr>
        <td><span class="det boldtext"><%= t('payslip.dailyallowance') %></span></td>
        <td class="amt"><span><%= number_to_currency @setting.dailyallowance, :unit => '' %></span></td>
        <td><span class="det boldtext"><%= t('payslip.socso') %></span></td>
        <td class="amt"><span><%= number_to_currency @setting.socso, :unit => '' %></span></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><span class="det boldtext"><%= t('payslip.incometax') %></span></td>
        <td class="amt"><span><%= number_to_currency @setting.incometax, :unit => '' %></span></td>
      </tr>
      <tr>
        <td class="sum amt boldtext"><span><%= t('payslip.total') %> : </span></td>
        <td class="sum amt"><span><%= number_to_currency @total_earnings, :unit => '' %></span></td>
        <td class="sum amt boldtext"><span><%= t('payslip.total') %> : </span></td>
        <td class="sum amt"><span><%= number_to_currency @total_deduct, :unit => '' %></span></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td class="amt boldtext"><span><%= t('payslip.nettpay') %> : </span></td>
        <td class="amt"><span><%= number_to_currency @nett_salary, :unit => '' %></span></td>
      </tr>
    </tbody>
  </table>
  <table class="subdet">
    <tr>
      <td><span class="boldtext"><%= t('payslip.epfno') %></span></td>
      <td> : <%= @employee.epfno %></td>
    </tr>
    <tr>
      <td><span class="boldtext"><%= t('payslip.socsono') %></span></td>
      <td> : <%= @employee.socso %></td>
    </tr>
  </table>
  <div class="print_container">
    <div class="print_button hover ui-state-default ui-corner-all">
      <span class="icons printicon paddicon"><%= t('general.print') %></span>
    </div>
  </div>
</body>
</html>
