<div id="menu">
  <h3><%= link_to t('general.admin'), '#' %></h3>
  <div>
    <div><%= link_to t('general.employee'), '#', :onclick => "return emp.load()" %></div>
    <div><%= link_to t('general.designation'), '#', :onclick => "return des.load()" %></div>
    <div><%= link_to t('general.setting'), '#', :onclick => "return conf.load()" %></div>
    <div> <%= link_to t('general.user'), '#', :onclick => "return user.load()" %></div>
  </div>
  <h3><%= link_to t('general.report'), '#' %></h3>
  <div>
    <div><%= link_to t('general.payroll'), '#', :onclick => "return payroll.load()" %></div>
  </div>
</div>
