<%= form_tag('.', :id => @form_id, :class => 'save_form ui-widget-content ui-widget ui-corner-all') do %>
  <table>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :staff_id, 'Staff ID', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :staff_id, @payrate.staff_id, :id => 'id_staff_id', :class => 'text', :placeholder => 'enter staff id',
                           :title => 'enter staff id' %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :month, 'Month', :class => 'label' %>
      </td>
      <td>
        <%= select_month(@payrate.month, { :field_name => 'month' }, { :id => 'id_month', :class => 'select' }) %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :year, 'Year', :class => 'label' %>
      </td>
      <td>
        <%= select_year(@payrate.year, { :start_year => Time.now.year, :end_year => end_year, :field_name => 'year' }, { :id => 'id_year', :class => 'select' }) %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :hourly_pay_rate, 'Pay rate', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :hourly_pay_rate, @payrate.hourly_pay_rate, :id => 'id_pay_rate', :class => 'text', :placeholder => 'enter hourly pay rate',
                           :title => 'enter hourly pay rate' %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div class="row_button">
          <%= render 'shared/save_button' %>
          <%= render 'shared/cancel_button' %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
