<%= form_tag('.', :id => @form_id, :class => 'save_form ui-widget-content ui-widget ui-corner-all') do %>
  <table>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :designation_id, t('employee.field.designation'), :class => 'label' %>
      </td>
      <td>
        <%= select_tag :designation_id, options_from_collection_for_select(@designation_list, 'id', 'title', @setting.designation_id), :id => 'id_designation', :class => 'select' %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :dailyallowance, t('setting.field.dailyallowance'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :dailyallowance, @setting.dailyallowance, :id => 'id_daily', :class => 'text', :placeholder => t('setting.placeholder.dailyallowance'),
                           :title => t('setting.placeholder.dailyallowance') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :epf, t('setting.field.epf'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :epf, @setting.epf, :id => 'id_epf', :class => 'text', :placeholder => t('setting.placeholder.epf'),
                           :title => t('setting.placeholder.epf') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :socso, t('setting.field.socso'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :socso, @setting.socso, :id => 'id_socso', :class => 'text', :placeholder => t('setting.placeholder.socso'),
                           :title => t('setting.placeholder.socso') %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :incometax, t('setting.field.incometax'), :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :incometax, @setting.incometax, :id => 'id_incometax', :class => 'text', :placeholder => t('setting.placeholder.incometax'),
                           :title => t('setting.placeholder.incometax') %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div class="row_button">
          <%= render 'home/save_button' %>
          <%= render 'home/cancel_button' %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
