<% if @data.present? && @data[:list].any? %>
  <table class="list_table">
    <thead class="ui-widget-header">
      <tr>
        <th class="data chkbox"><input class="hdchk" type="checkbox" /></th>
        <th class="data"><%= t('designation.field.title') %></th>
        <th class="data"><%= t('setting.field.dailyallowance') %> (<%= t('general.currency') %>)</th>
        <th class="data"><%= t('setting.field.epf') %> (<%= t('general.currency') %>)</th>
        <th class="data"><%= t('setting.field.socso') %> (<%= t('general.currency') %>)</th>
        <th class="data"><%= t('setting.field.incometax') %> (<%= t('general.currency') %>)</th>
      </tr>
    </thead>
    <tbody>
    <% @data[:list].each do |o| %>
      <tr id="tr_<%= o.id %>" class="<%= cycle("ui-state-active", "ui-state-default") %>">
        	<td class="data chkbox"><input class="chk" type="checkbox" /></td>
          <td class="data"><%= o.designation.title if o.designation.present? %></td>
          <td class="data"><%= number_to_currency o.dailyallowance, :unit => '' %></td>
          <td class="data"><%= number_to_currency o.epf, :unit => '' %></td>
          <td class="data"><%= number_to_currency o.socso, :unit => '' %></td>
          <td class="data"><%= number_to_currency o.incometax, :unit => '' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<input id="id_pg" type="hidden" value="<%= @data[:hasprev] %>,<%= @data[:hasnext] %>,<%= @data[:prevpage] %>,<%= @data[:nextpage] %>,<%= @data[:item_msg] %>" />
