<% if @data.present? && @data[:list].any? %>
  <table class="list_table">
    <thead class="ui-widget-header">
      <tr>
        <th class="data chkbox"><input class="hdchk" type="checkbox" /></th>
        <th class="data" tooltip="Click here to sort">
          <div id="hd_title" class="sortheader hover">
            <span class="colheader"><%= t('designation.field.title') %></span>
            <span class="sorticon"></span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
    <% @data[:list].each do |d| %>
      <tr id="tr_<%= d.id %>" class="<%= cycle("ui-state-active", "ui-state-default") %>">
        <td class="data chkbox"><input class="chk" type="checkbox" /></td>
        <td class="data"><%= d.title %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<input id="id_pg" type="hidden" value="<%= @data[:hasprev] %>,<%= @data[:hasnext] %>,<%= @data[:prevpage] %>,<%= @data[:nextpage] %>,<%= @data[:item_msg] %>,<%= @data[:sortcolumn] %>,<%= @data[:sortdir] %>" />
